/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Story+Script&display=swap');

:root{
  --primaryBackgroundColor:black;
  --primaryTextColor:white;
  --secondaryTextColor:#dcdcdc;
  --primaryMenuColor:#dcdcdc;
  --secondaryMenuColor:#fca75c;
  --primaryTextFontFamily:"Inknut Antiqua";
  --primaryFontFamily:"Story Script";
  
}

* {
  box-sizing: border-box;
}
.flex{

  display: flex;
}
/* BODY */
body {
  margin: 0;
  
  height:100%;
  margin:0;

  flex-direction: column;
  min-height: 100vh; 

}

/* HEADER */
header {
  
  background-color: black;   /* svart her, ikke variabel, skal alltid være svart */
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0 16px;
  border: 1px solid white;
 
}

.headerNav {
  flex-direction: row;
  align-items: center;
  gap:30px;    

}

a {
  color:var(--primaryMenuColor);
  text-decoration: none;
}

.navListHeader {

  font-family: var(--primaryFontFamily);
  font-size: 32px;
  justify-content: space-between;

  list-style-type: none;
  width:588px;
  
  
}

.hamburgerIcon {
  height: 32px;
  width: 32px;
  display: none;
}

.logoSaturnImg 
{
  width:73px;
  height:69px;
  
}

.hidden {
  display: none;
}

.show {
  display: flex;
  flex-direction: column;
}

/* HEADER styling mobile L or less */
@media (max-width: 426px) {
  .headerNav {
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .navList {
    display: none;
  }

  .hamburgerIcon {
    display: flex;
  }
}



/* MAIN */

main {
  flex-grow: 1;
  background-color: var(--primaryBackgroundColor);

  
}

h1 {

  font-family: var(--primaryFontFamily);
  font-size: 96px;
  font-weight: normal;
}

.section {

 
  flex-direction: row;
  justify-content: center;




}

/* Hero page klasser  */

.heroText {
  flex-direction: column;
  justify-self: center;
  align-items: center;
  color:var(--primaryTextColor);
  padding-top:67px;
}

.heroImg {
  width: 765px;
  height: 682px;
  padding-left: 10px;
  padding-top:108px;

}
.sitatJK {
  font-family: "Italianno";
  font-size:36px;
  width:525px;
  padding:0;
  margin:0;
}

.sitatKreditasjon {
  font-family: var(--primaryTextFontFamily);
  font-size:12px;
  margin:0;
  padding-top:19px;
}
/* 

/* FOOTER */
.imgLogoKodeloftet {
  width:120px;
  /* height:62px; */

}
.tekstNASA {
    
    text-decoration: underline;    
    margin:0;
    padding:0;
    text-align: center;
}

.tekstWSLaget {
  margin:0;
  padding:0;

}

.tekstMittNavn {
  margin: 0;
  padding: 0;
  color: #EE7700;

}

.minInfoDiv {
  flex-direction: column;
  justify-content: center;
  padding-right:36px;
}

.infoAndIconsDiv {
  flex-direction: row;
  align-items: center;

}




footer {
  font-family: var(--primaryTextFontFamily);
  font-size: 14px;
  color: var(--secondaryTextColor);
  background-color: black;
  border: 1px solid white;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  height:94px;
  padding-left: 28px;
  padding-right: 28px;
} 
