/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Italianno&family=Story+Script&display=swap');

:root{
  --primaryBackgroundColor:black;
  --primaryTextColor:white;
  --secondaryTextColor:#dcdcdc;
  --primaryMenuColor:#dcdcdc;
  --secondaryMenuColor:#fca75c;
  --primaryTextFontFamily:"Inknut Antiqua";
  --primaryFontFamily:"Story Script";
  --linkColor:lightblue;
  --borderColorMenu:white;
   
}

* {
  box-sizing: border-box;
}
.flex{

  display: flex;
}

/* BODY */
body {

  height:100%;
  margin:0;
  flex-direction: column;
  min-height: 100vh; 
  background-color: var(--primaryBackgroundColor);
}

/* HEADER */
header {
  
  background-color: black;   /* svart her, ikke variabel, skal alltid være svart */
  width:100%;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  border: 1px solid var(--borderColorMenu);


}

.headerNav {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap:30px;  
  padding-right:23px;
   
}


.darkLightIcon {
  padding-left:23px;
}

.darkLightListItem {
  display: none;
}
.hamburgerLine {
  display: none;
}

.lightMode {
  --primaryBackgroundColor:rgb(220, 220, 220);
  --primaryTextColor:black;
  --secondaryTextColor:black;
  .lightModeImg {   box-shadow: 5px 5px 15px 17px rgba(0,0,0,0.49); border-radius: 5px;   
  }
  .linkWikiPage { color:darkred; }
}

 

a {
  color:var(--primaryMenuColor);
  text-decoration: none;
}

.navListHeader {

  display: flex;
  flex-direction: row;
  font-family: var(--primaryFontFamily);
  color:white;
  font-size: 32px;
  padding-left:0;
  gap:41px;
  list-style-type: none;
   
  
}

.hamburgerIcon {
  height:64px;
  
  display: none;
}

.logoSaturnImg 
{
  width:73px;
  height:69px;
  
}

.hidden {
  display: none;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: right;
  position: absolute;
  top:4rem;
  left:2rem;
  font-size: 18px;
  z-index: 1000;
  gap:3px;
  background-color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid white;

}

/* HEADER styling mobile L or less */
@media (max-width: 426px) {

  header { height: 94px;}

    .headerNav {
  
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  
  }

  
  .hamburgerIcon {
    display: flex;
   
  }

  .hamburgerLine {
    display: flex;
    color:white;
    width:100px;
    /* border: 1px solid white; */
  }

  .darkLightIcon {
    display: none;
  }

  .darkLightListItem {
    display: flex;
    color:rgb(234, 212, 190);
    
  }
}

@media (min-width: 427px)  {
  body {
  
    }

  .hamburgerIcon {
    display:none;
    
  }

  .navListHeader {
    display: flex;
  }
    /* background-color: green; */
 
}


/* MAIN */

main {
  flex-grow: 1;

  color:var(--primaryTextColor);
  font-family: var(--primaryTextFontFamily);
  padding-bottom:52px;
  flex-direction: column;
  align-items: center;
  background-color: var(--primaryBackgroundColor);

}

h1 {

  font-family: var(--primaryFontFamily);
  font-size: 96px;
  font-weight: normal;
}

h2 {
   font-family: var(--primaryFontFamily);
   font-size:68px;

}

h3 {
  font-family: var(--primaryFontFamily);
  font-size:64px;
  color:var(--secondaryTextColor);
}

p {
  /* font-family: var(--primaryTextFontFamily); */
  font-size:16px;
  width:744px;
  color:var(--primaryTextColor);
}

li {
  padding:0;
}
.section {
  flex-direction: row;
  justify-content: center;
}

/* Hero page klasser  */

.heroText {
  flex-direction: column;
  justify-self: center;
  align-items: center;
  color:var(--primaryTextColor);
  padding-top:67px;
}

.heroImg {
  width: 765px;
  height: 682px;
  margin-left: 50px;
  margin-top:108px;
  /* padding-left: 10px;
  padding-top:108px; */

}
.quoteJK {
  font-family: "Italianno";
  font-size:36px;
  width:525px;
  padding:0;
  margin:0;
}

.quoteCrediting {
  font-family: var(--primaryTextFontFamily);
  font-size:12px;
  margin:0;
  padding-top:19px;
  width: auto;
}

.mobileSetting {
  display: none;
}



@media (max-width: 426px) {
  h1 {
    font-size: 64px;
    margin-bottom: 27px;
    margin-top: 0px;
  }

  .heroText {
    padding-top: 58px;
  }
  .heroImg {
    width: 325px;
    height: 290px;
    margin:0;
  }

  .quoteJK {
    font-size: 24px;
    width: 342px;
    padding-top: 63px
  }

  .quoteCrediting {
    font-size: 10px;
    padding-top: 3px;
  }

  .mobileSetting {
    display:block;
  }

  .desktopSetting {
    display: none;
  }

  section {
    align-items: center;
  }
}
/* om.html klasser */

.omSection {
  flex-direction: column;
  align-items: center;
}

.omImg {
  width:471px;
  height:420px;
}

.omImgMobile
{
  display: none;
}

.quotePP
{
  font-family: "Gentium Plus";
  font-style: italic;
  font-size:20px;
  width: 617px; 


}

.headingAndQuoteDiv, .imageAndStatsDiv {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.headingAndQuoteDiv {
  gap:221px;
  padding-bottom: 43px;
}

.imageAndStatsDiv {
  gap:110px;
  padding-bottom: 109px;
}

.textFactCategorysDiv, .textFactsSaturnDiv {
  flex-direction: column;
  font-family: var(--primaryTextFontFamily);
  font-size: 14px;
  width:auto;
  
}
.textFactCategorysDiv {
  font-weight: bold;

}
.textFactsSaturnDiv {
  font-weight: normal;
}

.textFactCategorys, .textFactsSaturn {
  margin: 0;
  width:auto;
}

.linkWikiPage {

  color:var(--linkColor);
}
.quoteCarolyn
{
  width:845px;
  text-align: center;
}

.solarSystemImg, .saturnCoreImg {
  margin-top:60px;
  margin-bottom: 60px;
}

@media (max-width:426px) {

  .omImg { 
    display:none; 
  }
  .omImgMobile { 
    display:flex;
    width:136px;
    height:121px;
  }
}

/* ringene.html klasser */
.mainRingene {
  /* border-top:0; */
}
.subMenuDiv {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: var(--primaryFontFamily);
  width:100%;
  height: 94px;
  border: 1px solid var(--borderColorMenu);

  position:sticky;
  top:106px;
  background-color: black;
  z-index: 10;

  /* border-top: 0;
  border-left: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: white; */

}
.logoTextDiv {
  align-items: center;
  gap:47px;
  padding-left:28px;
}

.logoRingeneImg{
  width:88px;
  height: 63px;
 
}

.subMenuAnchor {
  color:var(--secondaryMenuColor);
}

.subMenuText {
  font-size:60px;
  margin:0;
  padding:0;
  width:auto;
  color:white;
}
.navListRingene
{
  list-style-type: none;
    gap:37px;
  font-size: 32px;
  padding-left:0;
  padding-right:178px;
}

.textImage
{
  font-size: 10px;
  text-align: center;
}

.beskrivelseSection {
  scroll-margin-top:200px;
  flex-direction: column;
  align-items: center;
}
.komposisjonSection, .dannelseSection {
  flex-direction: column;
  align-items: center;
  scroll-margin-top:220px;
}

.textQuestionDiv
{
  position: relative;
  width:595px;
  height: 186px; 
  justify-content: center;
  align-items:center;
  padding-top:40px;
  
   
}

.questionText, .questionImage {
  display:flex;
  align-items:center;
  justify-content: center;
  position:absolute;
}

.questionText {
    
  width:auto;
  font-family: var(--primaryFontFamily);
  font-size:64px;
}

.questionImage {
  opacity:0.5;      
}

.moleculeImg {


}

.cassiniShadowImgText, .ringsImgText, .moleculeImgText {
  flex-direction: column;
  align-items: center;

  padding-bottom: 60px;
  padding-top: 60px;
   
}

.videoText {
  padding-bottom: 20px;
  padding-top: 40px;
  flex-direction: column;
  align-items:center;
}

/* maane.html */


.genereltListItem {
  padding-left:0px;
  padding-right:41px;
}

.navListMaanene {
  list-style-type: none;
  gap:25px;  
  font-size: 32px;
  padding-left:0px;
  padding-right:26px;
}

.genereltSection {
  scroll-margin-top:200px;
  flex-direction: column;
  align-items: center;
  padding-bottom:140px;
  
}

.moonImg, .enceladusImg1, .enceladusImg2 {
  width:550px;
}
.moonImg {
  margin-top: 170px;
}

.enceladusImg1 {

  margin-top: 200px;

}


.enceladusImg2 {
  margin:0;
}

.moonSection, .enceladusSection, .titanSection {
  scroll-margin-top: 220px;
}

.moonSection {

  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  width: 1350px;
  gap:82px;
  align-self: center;
  padding-bottom: 120px;

}

.enceladusSection {
  flex-direction: column;
 
}
.moonDiv {
  flex-direction: column;
}

.enceladusDiv {
  flex-direction: row;
  padding-bottom:110px;
  gap:82px;
}

.titanSection, .titanImgText {
  flex-direction: column;
  align-items: center;

}

.titanImgText {
  padding-bottom: 40px;

}

.titanCoreImg {
  margin-top: 40px;
  margin-bottom: 40px;

}



/* FOOTER */

footer {
  font-family: var(--primaryTextFontFamily);
  font-size: 14px;
  color: var(--secondaryTextColor);
  background-color: black;
  border: 1px solid var(--borderColorMenu);
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  height:94px;
   
} 

.logoKodeloftetImg {
  width:120px;
  padding-left: 28px;

}
.textNASA, .textWSCreated, .textMyName {
  margin: 0;
  padding: 0;
  width: auto;
}

.textNASA {
 
  text-align: center;
  text-decoration: underline;
}

.textMyName {
   color: #EE7700;

}

.myInfoDiv {
  flex-direction: column;
  justify-content: center;

}

.infoAndIconsDiv {
  flex-direction: row;
  align-items: center;
  gap:10px;
  padding-right:36px;
}

@media (max-width: 426px) {

  .logoKodeloftetImg {
    display: none;
  }

  .myInfoDiv {
    display: none;
  }
  
  .textNASA {
    text-align: left;
    font-size: 10px;
    padding-left: 20px;
    
  }

  .infoAndIconsDiv {
    padding-right: 20px;
  }

}



