/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Italianno&family=Story+Script&display=swap');

:root{
  --primaryBackgroundColor:black;
  --primaryTextColor:white;
  --secondaryTextColor:#dcdcdc;
  --primaryMenuColor:#dcdcdc;
  --secondaryMenuColor:#fca75c;
  --primaryTextFontFamily:"Inknut Antiqua";
  --primaryFontFamily:"Story Script";
  --linkColor:lightblue;
    
}

* {
  box-sizing: border-box;
}
.flex{

  display: flex;
}

/* BODY */
body {

 
  height:100%;
  margin:0;
  flex-direction: column;
  min-height: 100vh; 
  background-color: var(--primaryBackgroundColor);
}

/* HEADER */
header {
  
  background-color: black;   /* svart her, ikke variabel, skal alltid være svart */
  width:100vw;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  border: 1px solid white;
  padding-left:23px;
  padding-right:23px;

}

.headerNav {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap:30px;  
  
}

a {
  color:var(--primaryMenuColor);
  text-decoration: none;
}

.navListHeader {

  font-family: var(--primaryFontFamily);
  font-size: 32px;
  justify-content: space-between;
  padding:0;
  list-style-type: none;
  width:588px;
  
  
}

.hamburgerIcon {
  height: 32px;
  width: 32px;
  display: none;
}

.logoSaturnImg 
{
  width:73px;
  height:69px;
  
}

.hidden {
  display: none;
}

.show {
  display: flex;
  flex-direction: column;
}

/* HEADER styling mobile L or less */
@media (max-width: 426px) {
  .headerNav {
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .navList {
    display: none;
  }

  .hamburgerIcon {
    display: flex;
  }
}



/* MAIN */

main {
  flex-grow: 1;
  /* background-color: var(--primaryBackgroundColor); */
  color:var(--primaryTextColor);
  font-family: var(--primaryTextFontFamily);
  margin-bottom:52px;
  flex-direction: column;
  align-items: center;
  /* width:100vw; */
}

h1 {

  font-family: var(--primaryFontFamily);
  font-size: 96px;
  font-weight: normal;
}

h2 {
   font-family: var(--primaryFontFamily);
   font-size:68px;

}

h3 {
  font-family: var(--primaryFontFamily);
  font-size:64px;
  color:var(--secondaryTextColor);
}

p {
  /* font-family: var(--primaryTextFontFamily); */
  font-size:16px;
  width:744px;
}

li {
  padding:0;
}
.section {
  flex-direction: row;
  justify-content: center;
}

/* Hero page klasser  */

.heroText {
  flex-direction: column;
  justify-self: center;
  align-items: center;
  color:var(--primaryTextColor);
  padding-top:67px;
}

.heroImg {
  width: 765px;
  height: 682px;
  padding-left: 10px;
  padding-top:108px;

}
.quoteJK {
  font-family: "Italianno";
  font-size:36px;
  width:525px;
  padding:0;
  margin:0;
}

.quoteCrediting {
  font-family: var(--primaryTextFontFamily);
  font-size:12px;
  margin:0;
  padding-top:19px;
  width: auto;
}
/* om.html klasser */

.omSection {
  flex-direction: column;
  align-items: center;
}

.omImg {
  width:471px;
  height:420px;
}

.sitatPP
{
  font-family: "Gentium Plus";
  font-style: italic;
  font-size:20px;
  width: 617px; 


}

.imageAndQuoteDiv, .imageAndStatsDiv {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.imageAndQuoteDiv {
  width: 1016px;
  padding-bottom: 43px;
}

.imageAndStatsDiv {
  width: 1244px;
  padding-bottom: 109px;
}

.faktaKategorierDiv, .faktaSaturnDiv {
  flex-direction: column;
  font-family: var(--primaryTextFontFamily);
  font-size: 14px;
  
}
.faktaKategorierDiv {
  font-weight: bold;

}
.faktaSaturnDiv {
  font-weight: normal;
}

.faktaKategorier, .faktaSaturn {
  margin: 0;
  width:auto;
}

.linkWikiPage {

  color:var(--linkColor);
}
.sitatCarolyn
{
  width:845px;
  text-align: center;
}

.solsystemetImg, .kjerneSaturnImg {
  padding-top:60px;
  padding-bottom: 60px;
}


/* ringene.html klasser */
.mainRingene {
  /* border-top:0; */
}
.underMenyDiv {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: var(--primaryFontFamily);
  width:100vw;
  height: 94px;
  border-top:1px;
  border-left:1px;
  border-right:1px;
  border-bottom:1px;
  border-width: 1px;
  border-color:white;
  border-style: solid;
  /* padding-left:28px; */
  /* padding-right:178px; */
  position:sticky;
  top:104px;
  background-color: black;
  z-index: 10;
  box-sizing: content-box;

}
.logoTekstDiv {
  align-items: center;
  gap:47px;
  padding-left:28px;
}

.logoRingeneImg{
  width:88px;
  height: 63px;
 
}

.underMenyAnchor {
  color:var(--secondaryMenuColor);
}

.underMenyTekst {
  font-size:60px;
  margin:0;
  padding:0;
  width:auto;
}
.navListRingene
{
  list-style-type: none;
    gap:37px;
  font-size: 32px;
  padding-left:0;
  padding-right:178px;
}

.bildeTekst
{
  font-size: 10px;
  text-align: center;
}

.beskrivelseSection {
  scroll-margin-top:200px;
  flex-direction: column;
  align-items: center;
}
.komposisjonSection, .dannelseSection {
  flex-direction: column;
  align-items: center;
  scroll-margin-top:220px;
}

.tekstQTDiv
{

  /* display: grid; */
  /* align-items: center;
  justify-content: center;
  flex-direction: row; */
  position: relative;
  width:611px;
  height: 330px;
  background-color: rgb(192, 79, 98);
   
}
.tekstQuestion {
  

  display:flex;
  align-items:center;
  /* position:absolute; */
  /* top:0; */
  /* left:0; */
  color:#e6ac7b;

}

.qt {
  z-index: 2;
  position:absolute;
  top:0;
  left:0;
 
}

.qt {
  font-size: 128px;
  opacity: 0.5;
  z-index: 1;
}

.cassiniShadowImgText, .ringeneImgText, .molekylImgText {
  flex-direction: column;
  align-items: center;

  padding-bottom: 60px;
  padding-top: 60px;
   
}

.videoText {
  padding-bottom: 20px;
  flex-direction: column;
  align-items:center;
}

/* maane.html */

.underMenyMaaneneDiv {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: var(--primaryFontFamily);
  width:100vw;
  height: 94px;
  border: 1px solid white;
  /* padding-left:28px;
  padding-right:26px; */
  position:sticky;
  top:106px;
  background-color: black;
  z-index: 10;

}

.genereltListItem {
  padding-left:0px;
  padding-right:41px;
}

.navListMaanene {
  list-style-type: none;
  gap:25px;  
  font-size: 32px;
  padding-left:0px;
  padding-right:26px;
}

.genereltMaaneSection {
  scroll-margin-top:200px;
  flex-direction: column;
  align-items: center;
  padding-bottom:140px;
  
}

.maaneImg, .enceladusImg {
  width:550px;
}
.maaneImg {
  padding-top: 170px;
}

.enceladusImg {
  padding:0;
}

.maaneSection, .enceladusSection, .titanSection {
  scroll-margin-top: 220px;
}

.maaneSection {

  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  width: 1350px;
  gap:82px;
  align-self: center;
  padding-bottom: 120px;

}

.enceladusSection {
  flex-direction: column;
 
}
.maaneDiv {
  flex-direction: column;
}

.enceladusDiv {
  flex-direction: row;
  padding-bottom:110px;
  gap:82px;
}

.titanSection, .titanImgText {
  flex-direction: column;
  align-items: center;

}

.titanImgText {
  padding-bottom: 40px;

}

.titanCoreImg {
  padding-top: 40px;
  padding-bottom: 40px;

}



/* FOOTER */

footer {
  font-family: var(--primaryTextFontFamily);
  font-size: 14px;
  color: var(--secondaryTextColor);
  background-color: black;
  border: 1px solid white;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  height:94px;
  padding-left: 28px;
  padding-right: 28px;
} 

.imgLogoKodeloftet {
  width:120px;

}
.textNASA, .textWSCreated, .textMyName {
  margin: 0;
  padding: 0;
  width: auto;
}

.textNASA {
  text-decoration: underline;    
  text-align: center;
}

.textMyName {
   color: #EE7700;

}

.myInfoDiv {
  flex-direction: column;
  justify-content: center;
  padding-right:36px;
}

.infoAndIconsDiv {
  flex-direction: row;
  align-items: center;
  gap:10px;

}




